.loader {
  position: fixed;
  z-index: 99999;
  top: 0%;
  right:0%;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.6;
  background: url('./assets/images/loading.svg') 50% 50% no-repeat rgb(249,249,249);
}